<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<mainIndex  th:fragment="maindata"   th:remove="tag">
    <!-- sidebar content goes in here -->
    <h1>
        Main part data
    </h1>
    Contentmain Width/height problem is solved by "Daniel Vassallo"
    and horizontal scroll-bar problem is solved by "janmoesen".
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
    Contentmain Width/height problem is solved by "Daniel Vassallo"
    and horizontal scroll-bar problem is solved by "janmoesen".
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
    Contentmain Width/height problem is solved by "Daniel Vassallo"
    and horizontal scroll-bar problem is solved by "janmoesen".
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
    Contentmain Width/height problem is solved by "Daniel Vassallo"
    and horizontal scroll-bar problem is solved by "janmoesen".
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
    Now who's answer should I accept :) can I select multiple ;) –
    For any cases set overflow-x to hidden and I prefer to set max-height in order to
    limit the expansion of the height of the div. Your code should looks like this:
</mainIndex>
</body>
</html>