/* CSS Document */

.offscreen {
    position: absolute;
    top: -30em;
    left: -300em;
}

div#hmenu {
    margin: 30px;

    /*  padding: .1em 0 .1em 0;
    background: #ddeebb; 70%;*/
    width:760px;
    text-align: center;
    border-left: 100px;
}

div#hmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#hmenu ul li {
    margin: 3px;
    padding: 10px;
    display: inline;
    background: #ddeebb;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-top: 2px solid midnightblue;
    border-right: 2px solid midnightblue;
    text-shadow:  2px 2px  #CCCCCC;
}

div#hmenu ul a:link{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: #004415;
}

div#hmenu ul a:visited{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: #227755;
}

div#hmenu ul a:active{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: #227755;
}

div#hmenu ul a:hover{
    margin: 0;
    padding: .3em .4em .3em .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: #f6f0cc;
    background-color: #227755;
}