<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<userData  th:fragment="user-site"   th:remove="tag">
    <h1>Меню Users Описание:</h1><br/>
    При натискане на главното меню се появяват подменюта в лявата кугия в син фон.
    Някои от функциите нямат достъп ако не сте регистриран.
    Тук менютатата дават възможност за извършване на всичките операции от CRUD(Create Read Update Delete)
    <br/>
    За да участвате във всички места на блога трябва да сте регистриран. Това става от подменю
    registration.
    <br/>
    Има възможност да се публикува ваша снимка,да се търсят конкретни потребители,редактиране на
    профила ви и др.

</userData>
</body>
</html>