<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Users</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<main id="allPosts">

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Fullname</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${users}">
            <td>
                <span th:text="${user.id}"/>
            </td>
            <td>
                <span th:text="${user.username}"/>
            </td>
            <td>
                <span th:text="${user.password_hash}"/>
            </td>
            <td>
                <span th:text="${user.fullname}"/>
            </td>
        </tr>

        </tbody>
    </table>
</main>

<footer th:replace="layout :: site-footer" />
</body>

</html>
