<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">Details</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<main id="posts">
    <article>
        <h2 class="title" th:text="${post.title}">Post Title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <br/>
            <i>By</i>
            <span th:if="${post.author.fullname != null}" th:text="${post.author.fullname}" />
            (<span th:if="${post.author.fullname != null}" th:text="${post.author.username}" />)
        </div>
        <br/>
        <p class="content" th:utext="${post.body}">Post content</p>
    </article>
</main>
<div><a href="posts/index.html" th:href="@{/posts/index}">[Go Back]</a></div>

<footer th:replace="layout :: site-footer" />
</body>

</html>
